.wrapper {
  width: 100%;
}

.markdown-body {
  min-width: 200px;
  max-width: 980px;
  margin: 10px auto;
  border: 1px solid hsl(213, 13%, 16%);
  border-radius: 6px;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
